<h1> Mettre ici la première lettre du nom des VIPs </h1>

{{> lettres}}
<br>
{{#each vip}}
    <div class="vip-card">
        <img src="/images/vip/{{this.path}}" alt="{{this.path}}">
        <a href="/vip/{{this.id}}">{{this.prenom}} {{this.nom}}</a>
    </div>
{{/each}}
