{{> vipList}}

{{#if articles}}
    {{#each articles}}
        <fieldset class="article">
            <legend>
                Article
            </legend>
            <p>"{{this.titre}}" par <a class="underline black" href="/vip/{{this.auteur_id}}">{{this.auteur}}</a></p>
            <p>{{this.resume}}</p>
            <div class="more">
                <p>[Ajouté le {{formatDate this.date 'LLLL'}}]</p>
                <p class="underline"><a class="black" href="/vip/{{this.auteur_id}}">voir sa fiche</a></p>
            </div>
        </fieldset>
    {{/each}}
{{else}}
    <fieldset class="article">
        <legend>
            Article
        </legend>
        <p>Choisissez un vip pour voir les articles le concernant</p>
    </fieldset>
{{/if}}