{{>menu-admin-photo}}
{{#if photo}}
    <fieldset>
        <legend>Suppression d'une photo</legend>
        <div>
            <form action=""
                  method="post"
                  id="delete_photo">
                <div class="col-6 form-item">
                    <label for="photo_to_delete">Nom de la photo : </label>
                    <select name="photo_to_delete" id="photo_to_delete" required>
                        <option></option>
                        {{#each photo}}
                            <option value="{{this.id}}">{{this.adresse}}</option>
                        {{/each}}
                    </select>

                    <label class="label-preview" for="preview">Aperçu : </label>
                    {{#each photo}}
                        <img class="gallery" id="preview_photo_delete_{{this.id}}" src="/images/vip/{{this.adresse}}" alt="{{this.adresse}}">
                    {{/each}}
                </div>

                <input type="submit">
                <input type="reset" id="photo_reset">
            </form>
        </div>
    </fieldset>
{{else}}
    <script>location.href = `${location.origin}/photo`</script>
{{/if}}
