{{>menu-admin}}
{{#if vip}}
    <h2>Veuillez sélectionner le vip que vous voulez modifier ou supprimer</h2>
    <table id="vip_table">
        <thead>
        {{#each thead}}
            {{#ifCond this '==' 'id'}}
                <td>{{Caps this}}</td>
            {{else}}
                {{#ifCond this '==' 'naissance'}}
                    <td>{{Caps this}}</td>
                {{else}}
                    <th class="{{this}}">{{Caps this}}</th>
                {{/ifCond}}
            {{/ifCond}}
        {{/each}}
            <td>MODIFIER</td>
            <td>SUPPRIMER</td>
        </thead>
        <tbody>
        {{#each vip}}
            <tr>
            {{#each this}}
                <td class="{{@key}}">
                    {{#ifCond @key '==' 'naissance'}}
                        {{formatDate this 'DD MMMM YYYY'}}
                    {{else}}
                        {{#ifCond @key '==' 'sexe'}}
                            {{#ifCond this '==' 'M'}}
                                Homme
                            {{else}}
                                Femme
                            {{/ifCond}}
                        {{else}}
                            {{#ifCond @key '==' 'nom'}}
                                {{Caps this}}
                            {{else}}
                                {{this}}
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/ifCond}}
                </td>
            {{/each}}
                <td><a href="/vip/edit/{{this.id}}"><img src="/images/edit.png" alt="delete" width="15px"></a></td>
                <td><a href="/vip/delete/{{this.id}}"><img src="/images/delete.png" alt="delete" width="15px"></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <h3>Il n'y a malheureusement pas de vip disponibles dans la base de données</h3>
{{/if}}
