{{>menu-admin-photo}}
{{#if vip}}
    <h2>Veuillez sélectionner le vip auquel vous voulez retirer une photo</h2>
    <table id="vip_table">
        <thead>
        {{#each thead}}
            {{#ifCond this '==' 'id'}}
                <td>{{Caps this}}</td>
            {{else}}
                <th class="{{this}}">{{Caps this}}</th>
            {{/ifCond}}
        {{/each}}
        <td>SELECTIONNER</td>
        </thead>
        <tbody>
        {{#each vip}}
            <tr>
                {{#each this}}
                    <td class="{{@key}}">
                    {{#ifCond @key '==' 'nom'}}
                        {{Caps this}}
                    {{else}}
                        {{this}}
                    {{/ifCond}}
                    </td>
                {{/each}}
                <td><a href="/photo/{{this.id}}"><img src="/images/green-arrow.png" alt="select" width="15px"></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <h3>Il n'y a malheureusement pas de vip, ayant des photos, disponible dans la base de données</h3>
{{/if}}